:root {
  --linearred--: linear-gradient(135deg, #3b0202, #910d0d);
  --alternativeback--: linear-gradient(135deg, #3b021d, #910d0d);
  --bgcolor--: black;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn.primary {
  background-color: #a000ff;
  color: white;
}
.btn.secondary {
  background-color: transparent;
  border: 2px solid #a000ff;
  color: #a000ff;
}
.services {
  display: flex;
  width: 1900px;
  height: 600px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px;
}
.service-card i {
  color: #d4af37;
  font-size: 3rem;
  font-weight: 1000;
  align-items: center;
}
.service-card {
  background: var(--alternativeback--);
  border-color: rgb(248, 248, 248);
  box-shadow: black;
  box-sizing: 100px 10px 20px;
  padding: 20px;
  margin: -110px 10px;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  justify-items: center;
}

.container-services {
  max-width: 1000px;
  flex-wrap: wrap;
  padding-top: 5%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 2.5em;
  font-weight: bold;
}

.section-title span {
  color: #f0f;
}

.section-description {
  margin-bottom: 40px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  gap: 20px;
  justify-content: center;
}

.card-grid {
  background: linear-gradient(135deg, #3b021d, #910d0d);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  transition: 0.3s;
}

.card-grid:hover {
  transform: translateY(-10px);
}

.service-icon {
  font-size: 40px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.service-card p {
  margin: 15px 0;
}

.service-card a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.carousel-container p {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* carrossel container*/

section.carousel h1 {
  color: black;
}

/* about */
section.about {
  width: 100vw;
  height: 800px;
  max-height: 800px;
  background: var(--alternativeback--);
}
section.about .container {
  padding-top: 10% !important;
  width: 1200px;
  height: 500px;
  margin-top: -1px;
  background-color: linear-gradient(135deg, #3b021d, #910d0d) !important;
}
.movie img {
  width: 600px;
  height: 400px;
  background-color: #910d0d;
  float: inline-start;
}
.descmovie {
  margin-top: 0%;
  margin-right: 20%;
  color: black;
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: rgb(255, 0, 242) !important;
}

/* 
<!----------Services Section------------->
 */

.portifolio-center a {
  text-decoration: none;
}

.center-btn a {
  padding: 16px 38px 16px 38px;
}

.portifolio-bg {
  background-color: #150725;
  padding: 10px 0 120px 0;
}

.portifolio-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.portifolio-center h5 {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.portifolio-center h2 {
  display: inline;
  color: #fff;
}

.portifolio-center p {
  color: #d3c9c1;

  margin-top: 1rem;
}

.portifolio-section .gallery-hr1 {
  display: inline;
  opacity: 1.25;
  height: 1px;
  color: #b520a3;

  border: 1px solid;
}

.portifolio-center hr {
  width: 100%;
  opacity: 1.25;
  height: 0.5px;
  color: #461f72;
  background-color: #461f72;
  border: 1px solid;
}

.portifolio-section .btn-hover {
  padding: 5px 25px;
  border: 1px solid #ff7557;
}

.btn-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #d12bec;
  color: #fff;
  z-index: 1;
  letter-spacing: 0.8px;
}

.btn-hover::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  z-index: -1;
  top: 0;
  left: 0;
}

.btn-hover:hover::before {
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

.portifolio-center .w-100 {
  width: 33%;
}

/**Gallery*/

.gallery-bg {
  background-color: #150725;
  padding: 20px 0 120px 0;
}

.gallery-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.gallery-bg .element {
  position: relative;
}

.gallery-bg .element img {
  width: 100%;
  height: auto;
  display: block;
}

.tab button {
}

.tab button {
  background: none;
  border-radius: 1rem;
}

.tab button:hover {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  border-radius: 1rem;
  color: white;
}

#filter-tab {
}
#filter-tab .active {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  border-radius: 1rem;
  color: white;
}

#filter-items {
}

#filter-items .element.hide {
  display: none;
}

/**---Work steps section-----*/

.work {
  background: #150725;
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}

.work h5 {
  letter-spacing: 1px;
}

.work-para {
  color: #fff;
  padding: 0 290px;
}

.work-line {
  background-image: url("img/untitled.png");
  background-size: 100% 100%;
  background-position: center;
  min-height: 242px;
  background-repeat: no-repeat;
  margin: 146px 25px 146px 25px;
}

.work-line div {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(11deg, #7436bb, 0.01%, #b520a3 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 32px 34px;
}

.work-line div:first-child {
  top: -66px;
  left: -30px;
  width: 196px;
  min-height: 196px;
}

.work-line div:nth-child(2) {
  bottom: -70px;
  left: 260px;
  width: 180px;
  min-height: 180px;
}

.work-line div:nth-child(3) {
  right: 260px;
  top: -66px;
  width: 196px;
  min-height: 196px;
}

.work-line div:last-child {
  right: -49px;
  bottom: -70px;
  width: 180px;
  min-height: 180px;
}

/* swipe carousel*/
