:root {
  --gap-x: ;
  --gap-y: 1rem;
  --linearred--: linear-gradient(135deg, #3b0202, #910d0d);
  --alternativeback--: linear-gradient(135deg, #3b021d00, #910d0d00);
  --bgcolor--: black;
  --colorbgmaster--: linear-gradient(135deg, #fffcfce5, #d4bbaf00);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(179, 170, 170, 0.548);
  color: rgba(172, 11, 11, 0.733);
  overflow-x: hidden;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slideshow {
  display: flex;
  width: 300%;
  animation: slide 12s infinite;
}

.slide {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100vw);
  }
  66% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(0);
  }
}




.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.gallery img {
  width: 200px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input,
textarea {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
/*
button {
    background-color: #8B0000;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}*/

/* 
<!----------Portifolio Section------------->
 */

.portifolio-center a {
  text-decoration: none;
}

.center-btn a {
  padding: 16px 38px 16px 38px;
}

.portifolio-bg {
  padding: 10px 0 120px 0;
}

.portifolio-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.portifolio-center h5 {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.portifolio-center h2 {
  display: inline;
  color: #fff;
}

.portifolio-center p {
  color: #d3c9c1;

  margin-top: 1rem;
}

.portifolio-section .gallery-hr1 {
  display: inline;
  opacity: 1.25;
  height: 1px;
  border: 1px solid;
}

.portifolio-center .hr-center {
  width: 100%;
  opacity: 1.25;
  height: 0.5px;
  border: 1px solid;
}

.portifolio-section .btn-hover {
  padding: 5px 25px;
  border: 1px solid #ff7557;
}

.contact {
  margin-bottom: 4rem;
}

.contact-form {
  width: 90%;
  margin: 1rem;
}

.map {
  width: 100%;
}

.contact iframe {
  width: 90%;
  border-radius: 16px;
}

.contact-btn .btn-hover {
  padding: 5px 50px;
  border: 1px solid #e6e2e1;
  color: #000;
}

.send-btn {
  background: linear-gradient(to right, #7436bb, #b520a3);
  color: white;
  width: 200px;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.send-btn:hover {
  background: linear-gradient(to right, #920181, #7436bb);
  color: white;
}

.btn-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #d12bec;
  color: #fff;
  z-index: 1;
  letter-spacing: 0.8px;
}

.filter-btn-all {
  justify-content: center;
  background: linear-gradient(to right, #7436bb, #b520a3);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.filter-btn-all:hover {
  background: linear-gradient(to right, #920181, #7436bb);
  border-radius: 1rem 0rem 0rem 1rem;
  color: white;
}

.filter-btn-category {
  justify-content: center;
  background: linear-gradient(to right, #7436bb, #b520a3);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.filter-btn-category:hover {
  background: linear-gradient(to right, #920181, #7436bb);
  color: white;
}

.filter-btn.active {
  background: linear-gradient(180deg, #920181 0%, #fabf28 100%) !important;
}

.btn-hover::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  z-index: -1;
  top: 0;
  left: 0;
}

.btn-hover:hover::before {
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

.btn {
  cursor: pointer;
  width: 150px;
  font-weight: 600;
  font-size: 0.9em;
  list-style: none;
  padding: 0.6em 0.8em;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.6em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  color: #000;
  box-shadow: 0 0 8px #fabf28;
}

.btn-primary {
  position: relative;
  background: #fabf28;
  background: linear-gradient(to top, #fabf28, #ff7527);
  border: 1px solid v#fabf28;
  color: #222;
  font-weight: 600;
  overflow: hidden;
  inset: 0;
  z-index: 10;
}

.portifolio-center .w-100 {
  width: 33%;
}

/**Gallery*/

.gallery-bg {
  padding: 20px 0 120px 0;
}

.gallery-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.gallery-bg .element {
  position: relative;
}

.gallery-bg .element img {
  width: 100%;
  height: auto;
  display: block;
}

.tab button {
  justify-content: center;
  background: linear-gradient(to right, #7436bb, #b520a3);
  color: white;
  padding: 0.6rem 0.7rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  border-radius: 1rem;
  font-size: 12px;
}

#subcategory button {
  background: linear-gradient(to right, #7436bb, #5cb520);
  padding: 0.3rem 1rem;
}

.count-badge {
  background: rgba(255, 255, 255, 0.2);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.8em;
}

.tab button:hover {
  background: linear-gradient(to right, #920181, #7436bb);
  border-radius: 1rem;
  color: white;
}

#filter-tab .active {
  background: linear-gradient(180deg, #920181 0%, #fabf28 100%);
  border-radius: 1rem;
  color: white;
}

#filter-items .element.hide {
  display: none;
}

.section {
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}

/**---Work steps section-----*/

.work {
  background: var(--alternativeback--);
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}

.work h5 {
  letter-spacing: 1px;
}

.steps-title {
  color: #fff;
  padding: 0 250px;
}

.steps {
  background-size: 100% 100%;
  background-position: center;
  min-height: 242px;
  background-repeat: no-repeat;
  margin: 146px 25px 146px 25px;
}

.steps div {
  position: absolute;
  border-radius: 50%;
  background: var(--colorbgmaster--);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.steps div:first-child {
  top: -66px;
  left: -30px;
  width: 180px;
  min-height: 180px;
}

.steps div:nth-child(2) {
  bottom: -70px;
  left: 260px;
  width: 180px;
  min-height: 180px;
}

.steps div:nth-child(3) {
  right: 260px;
  top: -66px;
  width: 180px;
  min-height: 180px;
}

.steps div:last-child {
  right: -49px;
  bottom: -70px;
  width: 180px;
  min-height: 180px;
}

.wave {
  margin-top: 4rem;
  position: absolute;
  width: 80%;
  height: 300px;
  background: repeating-linear-gradient(
    90deg,
    transparent 0 15px,
    #ffffff 15px 25px
  );
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 60" preserveAspectRatio="none"><path d="M0 30 q 50 -30 100 30 q 50 30 100 -30 q 50 -30 100 30 q 50 30 100 -30" stroke="black" stroke-width="1.2" fill="none" stroke-linecap="round"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 80" preserveAspectRatio="none"><path d="M0 30 q 50 -30 100 30 q 50 30 100 -30 q 50 -30 100 30 q 50 30 100 -30" stroke="black" stroke-width="1.2" fill="none" stroke-linecap="round"/></svg>');
  mask-size: cover;
  -webkit-mask-size: cover;
}

.search-box {
  position: relative;
  max-width: 800px;
}

.search-input {
  padding: 0.6rem;
  border-radius: 50px;
  border: 2px solid #eee;
  width: 100%;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}


/* footer */

.separator {
  display: block;
  width: 1px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  @media (max-width: 768px) {
    display: none;
  }
}

footer {
  margin: auto;
  width: 60%;
  padding: 32px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 56px;
    width: 100%;
  }
}
footer .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    img {
      height: 16px;
    }
    img:first-child {
      height: 48px;
    }
  }
}
footer .redes-sociais {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
}
/* footer .redes-sociais a{
  color: #FFFFFF;
  font-size: 2.2rem;
} 
*/

footer .redes-sociais a {
  font-size: 2.2rem;
}
footer .redes-sociais a.facebook {
  background: linear-gradient(225deg, #ffffff 30%, #3b5998 35%, #3b5998 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
footer .redes-sociais a.instagram {
  background: linear-gradient(225deg, #ffffff 30%, #bc2a8d 40%, #fccc63 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
footer .redes-sociais a.youtube {
  background: linear-gradient(225deg, #ffffff 30%, #c4302b 35%, #c4302b 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}

footer .redes-sociais a:hover {
  background-position: 0% 35%;
}

footer .footer-links {
  color: #eeeeee;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  @media (max-width: 768px) {
    margin-right: auto;
    padding-left: 64px;
  }
}

footer .footer-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-left: 0;
}

footer .footer-links ul li {
  list-style: none;
}
footer .footer-links ul li a {
  text-align: left;
  text-decoration: none;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-links ul li a:hover {
  color: #eeeeee;
}


/* Section separator */


hr {
  unset: all;
  content: "";
  height: 1px;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

hr.line-left-to-right {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 15%,
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0) 70%
  );
}



.bg-blur {
  content: "";
  position: fixed;
  width: 32em;
  height: 32em;
  border-radius: 50%;
  filter: blur(12em);
  -webkit-filter: blur(12em);
  z-index: -1;
  opacity: 0.4;
  @media (max-width: 768px) {
    width: 12em;
  }
}

.bg-blur.bg-blur-orange {
  top: 0%;
  right: -15%;
  background: url('.assets/phorma_pattern.png');
  background-image:  url('assets/phorma_pattern.png');

  background-blend-mode: multiply;
  overflow: hidden;
}

.bg-blur.bg-blur-blue {
  bottom: 0%;
  left: -15%;
  background: #910d0d;
  overflow: hidden;
}

