.slider-wrapper {
  overflow: hidden;
  width: 1200px;
  height: 325px;
  margin: 0 60px 55px;
}

.card-list .card-item {
  height: 150px;
  width: 0px;
  color: #fff;
  user-select: none;
  margin-top: 7%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.055); /* Transparência do vidro */
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1),
    /* Sombra leve */ 0 0 30px rgba(255, 255, 255, 0); /* Glow externo */
  backdrop-filter: blur(20px);
}

.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 0%;
  margin-bottom: 8px;
  border: none;
  padding: 4px;
}

.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}

.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #000105;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #ffffff;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #fff;
  margin-top: -55px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #000002;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}
