:root {
  --gap-x: ;
  --gap-y: 1rem;
  --linearred--: linear-gradient(135deg, #3b0202, #910d0d);
  --alternativeback--: linear-gradient(135deg, #3b021d, #910d0d);
  --bgcolor--: black;
  --colorbgmaster--: linear-gradient(135deg, #fffcfc, #d4bbaf);
}
