.container-portfolio-slider {
  width: 100vw;
  height: 65vh;
  display: block;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.portifolio-button {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 1em;
}

.portifolio-button button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
  font-size: 1.8em;
  padding: 0 32px;
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.3);
}

.portifolio-button button:hover {
  background: rgba(56, 1, 1, 0.2);
  color: #fff;
}

.portifolio-slider {
  height: 100%;
  width: 100vw;
  display: flex;
  position: absolute;
  align-items: center;
}

.portifolio-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstSlide {
    animation: firstChild 1s forwards;
}

.lastSlide {
    animation: lastChild 1s forwards;
}

@keyframes firstChild {
  0% {
    left: 100%;
    transform: scale(0.2) translate(-50%, -50%);
  }
  100% {
    left: -13%;
    transform: scale(0.2) translate(-50%, -50%);
  }
}

@keyframes lastChild {
    0% { left: -13%; transform: scale(0.2) translate(-50%, -50%); }
    100% { left: 100%; transform: scale(0.2) translate(-50%, -50%); }
}
