@font-face {
  font-family: montserrat-g;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
@import "/HTML/css/anim-menu-btn.css";
:root {
  --linearred--: linear-gradient(135deg, #3b0202, #910d0d);
  --alternativeback--: linear-gradient(120deg, #000000, #a30a0a);
  --bgcolor--: black;
  --colorbgmaster--: linear-gradient(135deg, #fffcfc, #d4bbaf);
  --colorbtn--: #910d0d;
  --white-color: #fff;
  --gray-color: #aeb4a6;
  --newcolorsubmenu: #ff7527;
  --green-color: #910d0d;
  --index: calc(1vw + 1vh);
  --transition: ease-in-out;
}
body {
  margin: 0 0 0 0;
  background: var(--colorbgmaster--);
  color: #eee;
  font-family: montserrat-g, sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}
@font-face {
  font-family: montserrat-g;
  src: url(/assets/fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: montserrat-g;
  src: url(/assets/fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: montserrat-g;
  src: url(/assets/fonts/Montserrat-Black.woff2);
  font-weight: 900;
}

@font-face {
  font-family: montserrat-g;
  src: url(/assets/fonts/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

a {
  text-decoration: none;
}

header {
  height: 50px;
  z-index: 3;
}

/*header a {
  color: rgb(255, 255, 255);
  margin-right: 5px;
  padding: 5px 10px;
  transition: 0.2s;
  font-size: larger;
  font-weight: 400;
}

a.active {
  background: rgb(70, 0, 3);
  border-radius: 2px;
}

header a:hover {
  background: rgb(70, 0, 3);
  border-radius: 2px;
}*/
/* titles and subitles*/

.redes-sociais-top {
  display: flex;
  position: fixed;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: column !important;
  font-size: xx-large;
  margin-left: 3%;
  width: 50px;
  height: 300px;
  z-index: 9999999999999999999999;
  text-decoration: none;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  box-shadow: #000000 0px 0px 10px 3px;
  color: rgb(255, 255, 255);
}
.redes-sociais-top a.facebook-top {
  background: linear-gradient(225deg, #ffffff 30%, #3b5998 35%, #3b5998 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
.redes-sociais-top a.instagram-top {
  background: linear-gradient(225deg, #ffffff 30%, #bc2a8d 40%, #fccc63 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
.redes-sociais-top a.youtube-top {
  background: linear-gradient(225deg, #ffffff 30%, #c4302b 35%, #c4302b 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
.redes-sociais-top a.pinterest-top {
  background: linear-gradient(225deg, #ffffff 30%, #c4422b 35%, #c4352b 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}

.redes-sociais-top a:hover {
  background-position: 0% 35%;
}

.titles h1 {
  font-size: 10em;
  line-height: 0.7em;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 25px 0 35px rgba(0 0 0 / 0.4);
}
.titles2 h1 {
  font-size: 10em;
  line-height: 0.7em;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 25px 0 35px rgba(0 0 0 / 0.4);
  z-index: -2;
  animation: animeimg 2s ease-in-out infinite alternate;
}
@keyframes animeimg {
  0% {
    right: 0;
  }
  30% {
    left: 5px;
  }
  70% {
    left: 10px;
  }
  100% {
    left: 20;
  }
}
.style {
  font-size: 10em;
  line-height: 0.7em;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 25px 0 35px rgba(0 0 0 / 0.4);
}
.stitle {
  background: var(--alternativeback--);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 0.7em;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 25px 0 35px rgba(0 0 0 / 0.4);
}
.stitle-service {
  background: var(--alternativeback--);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 0.5em;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 25px 0 35px rgba(0 0 0 / 0.4);
  font-size: 10em;
}
.stitle-port {
  background: var(--alternativeback--);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 0.3em;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 25px 0 35px rgba(0 0 0 / 0.4);
  font-size: 10em;
}
/* menu header*/
nav {
  position: absolute;
  margin: 2% 35% 1% 35%;
  top: 0;
  left: 0;
  right: 0;
  width: 590px;
  height: 50px;
  background: #ffffff2d;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 999999;
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  font-family: montserrat-g, sans-serif;
  font-weight: 100;
}
nav .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: var(--alternativeback--);
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
nav a:nth-child(1) {
  width: 100px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}
nav a:nth-child(2) {
  width: 110px;
}
nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 100px;
}
nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
}
nav a:nth-child(4) {
  width: 160px;
}
nav a:nth-child(4):hover ~ .animation {
  width: 160px;
  left: 310px;
}
nav a:nth-child(5) {
  width: 120px;
}
nav a:nth-child(5):hover ~ .animation {
  width: 120px;
  left: 470px;
}

.submenu {
  --anim-menu-btn-color: red;
  --anim-menu-btn-gap: 0.195em;
  --anim-menu-btn-width: 1.08em;
}

.logo-top img {
  position: absolute;
  max-width: 300px;
  width: 50%;
  margin-top: 1.5%;
  margin-left: 10%;
  height: auto;
  transition: 0.5s;
  -webkit-backdrop-filter: drop-shadow(0px 150px 130px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 150px 140px rgba(0, 0, 0, 0.8));
  z-index: 999999;
}
.logo-top :hover {
  position: absolute;
  max-width: 300px;
  width: 50%;
  margin-top: 1.5%;
  margin-left: 10%;
  transform: scale(1.4);
  transition: 0.5s;
  transform: ease-in-out;
  -webkit-backdrop-filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 50px 40px rgba(0, 0, 0, 0.8));
}
/* potifolio section*/
.portifolio-center a {
  text-decoration: none;
}

.center-btn a {
  padding: 16px 38px 16px 38px;
}

.portifolio-bg {
  padding: 10px 0 120px 0;
}

.portifolio-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.portifolio-center h5 {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.portifolio-center h2 {
  display: inline;
  color: #fff;
}

.portifolio-center p {
  color: #d3c9c1;

  margin-top: 1rem;
}

.portifolio-section .gallery-hr1 {
  display: inline;
  opacity: 1.25;
  height: 1px;
  color: var(--colorbtn--);

  border: 1px solid;
}

.portifolio-center hr {
  width: 100%;
  opacity: 1.25;
  height: 0.5px;
  color: var(--colorbtn--);
  border: 1px solid;
}

.portifolio-section .btn-hover {
  padding: 5px 25px;
  border: 1px solid #ff7557;
}

.btn-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #d12b;
  color: #fff;
  z-index: 1;
  letter-spacing: 0.8px;
}

.btn-hover::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  z-index: -1;
  top: 0;
  left: 0;
}

.btn-hover:hover::before {
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

.portifolio-center .w-100 {
  width: 33%;
}

/*body antigo. */

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn.primary {
  background-color: var(--colorbtn--);
  color: white;
}
.btn.secondary {
  background-color: transparent;
  border: 2px solid #d12b;
  color: var(--colorbtn--);
}
/* service section*/

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  z-index: 4;
}

.container-wrapper {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  overflow: visible;
}

.titles2 {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateX(25%);
}
.stitles2 {
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
  transform: translateX(0%);
}
.titles {
  opacity: 0;
  filter: blur(15px);
  transition: all 1s;
  transform: translateY(25%);
}
.stitles {
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
  transform: translateY(0%);
}
.vertical-line {
  width: 2px; /* Espessura da linha */
  height: 700px; /* 100% da altura da tela */
  background: var(--alternativeback--); /* Cor da linha */
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  position: absolute; /* Fixa a linha na tela */
  left: 43.3%; /* Centraliza horizontalmente */
  margin-top: 7%;
  z-index: -1;
}

.cardrow {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.cardrow > .rowd {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.cardrow > .rowd > .icond {
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.cardrow > .rowd > .descriptionrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.descriptionrow p {
  color: #b0b0ba;
  padding-top: 5px;
}

.descriptionrow h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .descriptionrow {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.cardrow[for="c1"] {
  background-image: url("/assets/Imagens/Imagens3D/Poltrona\ Cacau\ e\ Mini\ Cama\ Cacau_Bouclê\ Cinza\ -\ Freijó-Off\ White_Amb_ok\ copy.webp");
}
.cardrow[for="c2"] {
  background-image: url("/assets/Imagens/Imagens3D/Sofá\ Ágape_791029_Amb_ok2\ copy.webp");
}
.cardrow[for="c3"] {
  background-image: url("/assets/Imagens/Imagens3D/Cozinha\ Innova_Completa_Comp\ 01_Montana-Grafite_Amb_ok\ copy.webp");
}
.cardrow[for="c4"] {
  background-image: url("/assets/Imagens/Imagens3D/Planet\ Firm_1\,58\ -\ 2.webp");
}
/*service grid*/

.container-services {
  max-width: 1200px;
  flex-wrap: wrap;
  padding-top: 5%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding: 50px 20px;
  justify-content: center;
  align-items: center;
}
.container-portifolio {
  max-width: 100vw;
  flex-wrap: wrap;
  /*padding-top: 5%;*/
  margin: auto;
  margin-top: 4rem;
  /*margin-top: 18%;*/
  text-align: center;
}

.section-description {
  margin-bottom: 40px;
}

.services-grid {
  display: flex;
  height: 800px;
  flex-wrap: wrap;
  margin-top: 9%;
  gap: 20px;
  justify-content: center;
}

.cardservice {
  width: 350px;
  height: 200px;
  background: #222;
  border-radius: 5px;
  gap: 10%;
  position: relative;
  border-color: rgb(77, 0, 0);
  border-style: none none inset;
  transition: 400ms;
  border-radius: 55px 10px;
  backdrop-filter: blur(10px);
}
.cardservice:hover {
  transition: 400ms;
  height: 300px;
}

.cardservice .img-box {
  position: absolute;
  width: 150px;
  height: auto;
  top: 0px;
  transition: 400ms;
  align-items: center;
  left: 15%;
}
.cardservice:hover .img-box {
  top: -100px;
  scale: 0.75;
  transition: 400ms;
}

.cardservice .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60%;
  width: 88%;
  padding: 0px 30px 1px 0px;
  text-align: center;
  height: 63px;
  overflow: hidden;
  transition: 400ms;
  background-color: transparent;
}
.content p {
  padding-left: 55px;
  padding-top: 8%;
}
.content h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 5px 10px #0004;
  padding-left: 55px;
}
.cardservice:hover .content {
  top: 10%;
  height: 250px;
}

.cardservice .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 400ms;
}
.img-box img {
  -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.8));
}

.cardservice:hover .img-box img {
  scale: 1.2;
  transition: 400ms;
}
.service .cardservice i {
  font-size: 100px;
  justify-content: center;
}
.service :nth-child(2) {
  transition-delay: 100ms;
}
.service :nth-child(3) {
  transition-delay: 200ms;
}
.service :nth-child(4) {
  transition-delay: 300ms;
}
.service :nth-child(5) {
  transition-delay: 400ms;
}
.service :nth-child(6) {
  transition-delay: 500ms;
}

.service-icon {
  font-size: 40px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.service-card p {
  margin: 15px 0;
}

.service-card a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.carousel-container p {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* carrossel container*/

section.carousel h1 {
  color: whitesmoke;
}

/* slider section  */

.slider {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 10em;
  line-height: 0.7em;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 25px 0 35px rgba(0 0 0 / 0.4);
}
.slider .list .item .type {
  background: var(--alternativeback--);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.slider .list .item .button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.slider .list .item .button button {
  border: none;
  background-color: #eee;
  font-family: swiper-icons;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}

.slider .list .item .button button:hover {
  letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nextPrevArrows i {
  font-weight: 900;
  font-size: x-large;
}
.nextPrevArrows button {
  width: 60px;
  height: 40px;
  border-radius: 7%;
  border: none;
  background-color: #0000004b;
  font-family: swiper-icons;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }
  .slider .list .item .content .title {
    font-size: 50px;
  }
}

/* about */
section.about {
  position: relative;
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--alternativeback--);
  box-shadow: 0 0 20px 2px #3b0202, 0 0 40px 1px #910d0d;
  z-index: 2;
}
video {
  width: 50%;
  height: 50%;
  margin-top: 5%;
  margin-left: 5%;
  object-fit: cover;
  float: left;
  gap: 10px;
}
.container-about {
  width: 1300px;
  max-width: 1300px;
  height: 650px;
  gap: 10px;
  border-radius: 55px 10px;
  background: var(--linearred--) !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.logophorma {
  margin-bottom: 5%;
  width: 300px;
}
.movie {
  gap: 10px;
  margin-bottom: 0%;
}
.movie video {
  width: 800px;
  max-width: 800px;
  border-radius: 5px 55px 5px;
  float: left;
  margin-left: 14%;
  gap: 10px;
}
.descmovie {
  width: 80%;
  height: auto;
  gap: 10%;
  margin-left: 16%;
  padding-right: 3%;
 
  border-radius: 0px 0px;
  color: rgb(255, 250, 250);
  font-size: 1.05em;
  font-weight: bolder;
  font-family: montserrat-g;
  text-align: justify;
  text-shadow: 0 5px 10px #0004;
}

.container-about {
  opacity: 0;
  filter: blur(15px);
  transition: all 1.25s;
  transform: translateX(50%);
}
.scontainerabout {
  opacity: 1;
  filter: blur(0px);
  transition: all 1s;
  transform: translateX(0%);
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: var(--linearred--) !important;
}

/* 
<!----------Services Section------------->
 */

.services {
  width: 100%;
  height: 100vh;
}

.portifolio-center a {
  text-decoration: none;
}

.center-btn a {
  padding: 16px 38px 16px 38px;
}

.portifolio-bg {
  padding: 10px 0 120px 0;
}

.portifolio-center {
  display: flex;
  max-width: 1440px;
  margin: auto;
  text-align: left;
  flex-wrap: wrap;
}

.portifolio-center h5 {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.portifolio-center h2 {
  display: inline;
  color: #fff;
}

.portifolio-center p {
  color: #d3c9c1;

  margin-top: 1rem;
}

.portifolio-section .gallery-hr1 {
  display: inline;
  opacity: 1.25;
  height: 1px;
  color: var(--colorbtn--);

  border: 1px solid;
}

.portifolio-center hr {
  width: 100%;
  opacity: 1.25;
  height: 0.5px;
  color: var(--colorbtn--);
  border: 1px solid;
}

.portifolio-section .btn-hover {
  padding: 5px 25px;
  border: 1px solid #ff7557;
}

.btn-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #d12b;
  color: #fff;
  z-index: 1;
  letter-spacing: 0.8px;
}

.btn-hover::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  z-index: -1;
  top: 0;
  left: 0;
}

.btn-hover:hover::before {
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

.portifolio-center .w-100 {
  width: 33%;
}

/**Gallery*/

.gallery-bg {
  padding: 20px 0 120px 0;
}

.gallery-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.gallery-bg .element {
  position: relative;
}

.gallery-bg .element img {
  width: 100%;
  height: auto;
  display: block;
}

.tab button {
}

.tab button {
  background: none;
  border-radius: 1rem;
}

.tab button:hover {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  border-radius: 1rem;
  color: white;
}

#filter-category {
}

#filter-category .active {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  border-radius: 1rem;
  color: white;
}

#filter-subcategory .active {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  border-radius: 1rem;
  color: white;
}

#filter-items {
}

#filter-items .element.hide {
  display: none;
}

/**---Work steps section-----*/

.work {
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}

.work h5 {
  letter-spacing: 1px;
}

.work-line {
  background-image: url("img/untitled.png");
  background-size: 100% 100%;
  background-position: center;
  min-height: 242px;
  background-repeat: no-repeat;
  margin: 146px 25px 146px 25px;
}

.work-line div {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 32px 34px;
}

.work-line div:first-child {
  top: -66px;
  left: -30px;
  width: 196px;
  min-height: 196px;
}

.work-line div:nth-child(2) {
  bottom: -70px;
  left: 260px;
  width: 180px;
  min-height: 180px;
}

.work-line div:nth-child(3) {
  right: 260px;
  top: -66px;
  width: 196px;
  min-height: 196px;
}

.work-line div:last-child {
  right: -49px;
  bottom: -70px;
  width: 180px;
  min-height: 180px;
}

/* styles antigo*/

/*header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}*/

.hero {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slideshow {
  display: flex;
  width: 300%;
  animation: slide 12s infinite;
}

.slide {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100vw);
  }
  66% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(0);
  }
}

.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.gallery img {
  width: 200px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input,
textarea {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
/*
button {
    background-color: #8B0000;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}*/

/* 
<!----------Portifolio Section------------->
 */

.portifolio-center a {
  text-decoration: none;
}

.center-btn a {
  padding: 16px 38px 16px 38px;
}

.portifolio-bg {
  padding: 10px 0 120px 0;
}

.portifolio-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.portifolio-center h5 {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

.portifolio-center h2 {
  display: inline;
  color: #fff;
}

.portifolio-center p {
  color: #000000;

  margin-top: 1rem;
}

.portifolio-section .gallery-hr1 {
  display: inline;
  opacity: 1.25;
  height: 1px;
  border: 1px solid;
}

.portifolio-center hr {
  width: 100%;
  opacity: 1.25;
  height: 0.5px;
  border: 1px solid;
}

.portifolio-section .btn-hover {
  padding: 5px 25px;
  border: 1px solid #ff7557;
}



.contact-form {
  width: 90%;
  margin: 1rem;
}

.map {
  width: 100%;
  margin-bottom: 2rem;
}

.contact iframe {
  width: 90%;
  border-radius: 16px;
}

.contact-btn .btn-hover {
  padding: 5px 50px;
  border: 1px solid #e6e2e1;
  color: #000;
}

.send-btn {
  background: linear-gradient(180deg, #740338 0%, #b30909 100%);
  color: white;
  width: 200px;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  font-family: montserrat-g, sans-serif;
  font-size: small;
  font-weight: 700;
}

.send-btn:hover {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  color: white;
}

.btn-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  border: 1.5px solid #d12b;
  color: #fff;
  z-index: 1;
  letter-spacing: 0.8px;
}

.filter-btn-all {
  justify-content: center;
  background: var(--linearred--);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  border: none;
}

.filter-btn-all:hover {
  background: linear-gradient(180deg, #740338 0%, #b30909 100%);
  border-radius: 1rem 0rem 0rem 1rem;
  color: white;
}

.filter-btn-category {
  justify-content: center;
  background: linear-gradient(180deg, #740338 0%, #b30909 100%);
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
  border: none;
}

.filter-btn-category:hover {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  color: white;
  transition: all 0.3s ease;
}

.filter-btn.active {
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%) !important;
  transition: all 0.3s ease;
}

.btn-hover::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.3s ease;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

.btn-hover:hover::before {
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

.btn {
  cursor: pointer;
  width: 150px;
  font-weight: 600;
  font-size: 0.9em;
  list-style: none;
  padding: 0.6em 0.8em;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.6em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  color: #000;
  box-shadow: 0 0 8px #fabf28;
}

.btn-primary {
  position: relative;
  background: #fabf28;
  background: linear-gradient(to top, #fabf28, #ff7527);
  border: 1px solid v#fabf28;
  color: #222;
  font-weight: 600;
  overflow: hidden;
  inset: 0;
  z-index: 10;
}

.portifolio-center .w-100 {
  width: 33%;
}

/**Gallery*/

.gallery-bg {
  padding: 20px 0 120px 0;
}

.gallery-center {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.gallery-bg .element {
  position: relative;
}

.gallery-bg .element img {
  width: 100%;
  height: auto;
  display: block;
}

.tab button {
  justify-content: center;
  background: rgba(150, 3, 3, 0.041);
  color: white;
  padding: 0.6rem 0.7rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 0.2rem;
  font-size: 12px;
  border: none;
  margin-left: 4px;
  margin-top: 4px;
}

#filter-subcategory button {
  background: rgba(0, 0, 0, 0.096);
  padding: 0.3rem 1rem;
}
#filter-subcategory button:hover {
  background: linear-gradient(to top, #fabf28, #ff7527);
}

.count-badge {
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.8em;
}

.tab button:hover {
  background: #750539;
  border-radius: 0.8rem;
  color: white;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

#filter-category .active {
  background: linear-gradient(180deg, #740338 0%, #b30909 100%);
  border-radius: 0.5rem;
  color: white;
  border: none;
}

#filter-items .element.hide {
  display: none;
}

.section {
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}

/**---Work steps section-----*/

.container-p-realtive {
  width: 90vw;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.work {
  background: var(--alternativeback--);
  background-position: center center;
  padding: 120px 0;
  margin-top: -2px;
}

.work h5 {
  letter-spacing: 1px;
}

.steps-title {
  color: #fff;
  padding: 0 250px;
}

.steps {
  background-size: 100% 100%;
  background-position: center;
  min-height: 242px;
  background-repeat: no-repeat;
  margin: 146px 25px 146px 25px;
}

.steps div {
  position: absolute;
  border-radius: 50%;
  background: var(--colorbgmaster--);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.steps div:first-child {
  top: -66px;
  left: -30px;
  width: 180px;
  min-height: 180px;
}

.steps div:nth-child(2) {
  bottom: -70px;
  left: 260px;
  width: 180px;
  min-height: 180px;
}

.steps div:nth-child(3) {
  right: 260px;
  top: -66px;
  width: 180px;
  min-height: 180px;
}

.steps div:last-child {
  right: -49px;
  bottom: -70px;
  width: 180px;
  min-height: 180px;
}

.wave {
  margin-top: 4rem;
  position: absolute;
  width: 80%;
  height: 300px;
  background: repeating-linear-gradient(
    90deg,
    transparent 0 15px,
    #ffffff 15px 25px
  );
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 60" preserveAspectRatio="none"><path d="M0 30 q 50 -30 100 30 q 50 30 100 -30 q 50 -30 100 30 q 50 30 100 -30" stroke="black" stroke-width="1.2" fill="none" stroke-linecap="round"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 80" preserveAspectRatio="none"><path d="M0 30 q 50 -30 100 30 q 50 30 100 -30 q 50 -30 100 30 q 50 30 100 -30" stroke="black" stroke-width="1.2" fill="none" stroke-linecap="round"/></svg>');
  mask-size: cover;
  -webkit-mask-size: cover;
}

.search-box {
  position: relative;
  max-width: 800px;
}

.search-input {
  padding: 0.6rem;
  border-radius: 50px;
  border: 2px solid #eee;
  width: 100%;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.separator {
  display: block;
  width: 1px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  @media (max-width: 768px) {
    display: none;
  }
}

footer {
  margin: auto;
  width: 60%;
  padding: 32px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 56px;
    width: 100%;
  }
}
footer .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    img {
      height: 16px;
    }
    img:first-child {
      height: 48px;
    }
  }
}
footer .redes-sociais {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
}
/* footer .redes-sociais a{
  color: #FFFFFF;
  font-size: 2.2rem;
} 
*/

footer .redes-sociais a {
  font-size: 2.2rem;
}
footer .redes-sociais a.facebook {
  background: linear-gradient(225deg, #ffffff 30%, #3b5998 35%, #3b5998 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
footer .redes-sociais a.instagram {
  background: linear-gradient(225deg, #ffffff 30%, #bc2a8d 40%, #fccc63 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
footer .redes-sociais a.youtube {
  background: linear-gradient(225deg, #ffffff 30%, #c4302b 35%, #c4302b 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}
footer .redes-sociais a.pinterest {
  background: linear-gradient(225deg, #ffffff 30%, #c4422b 35%, #c4352b 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  background-size: 200% 800%;
  background-position: 0 0%;
  transition: background-position 0.3s ease-in-out;
}

footer .redes-sociais a:hover {
  background-position: 0% 35%;
}


footer .footer-address ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
  
}

footer .footer-address {

  color: #eeeeee;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  @media (max-width: 768px) {
    margin-right: auto;
    padding-left: 64px;
  }
}

footer .footer-address ul {
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-left: 0;
}



footer .footer-address ul li {
  list-style: none;
}


hr {
  unset: all;
  content: "";
  height: 1px;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}

hr.line-left-to-right {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0.3) 70%
  );
}


footer {
  margin: auto;
  width: 60%;
  padding: 32px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; 
  
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 56px;
    width: 100%;
    align-items: center; 
  }
}

.footer-logo, 
.footer-links, 
.footer-address {
  align-self: flex-start; 
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  gap: 16px;
  
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}

footer .footer-links {
  color: #eeeeee;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 16px;
  
  @media (max-width: 768px) {
    margin-right: auto;
    padding-left: 64px;
  }
}


.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 16px;
}


























footer .footer-links {
  color: #eeeeee;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  @media (max-width: 768px) {
    margin-right: auto;
    padding-left: 64px;
  }
}

footer .footer-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}



footer .footer-links ul li {
  list-style:none;
}
footer .footer-links ul li a {
  text-align: left;
  text-decoration: none;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-links ul li a:hover {
  color: #eeeeee;
}

/**Image viewer*/
.img-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Expanding image text */
#img-description {
  background-color: #00000069;
  margin: 42% 0 0 0;
  max-width: 65%;
  position: absolute;
  padding: 1%;
  color: white;
  font-size: 1.05em;
  font-family: montserrat-g;
  text-align: justify;
}

#view-img {
  display: block;
  max-width: 65%;
  object-fit: contain;
}

.icons-btns {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.icon-bar {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 15px;
  z-index: 1001;
}

.icon-bar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon-bar i:hover {
  transform: scale(1.2);
}

.nav-arrow {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: white;
  cursor: pointer;
  user-select: none;
  z-index: 1001;
  padding: 0 15px;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.left-arrow {
  left: 100px;
}

.left-arrow:hover {
  transform: scale(1);
  cursor: pointer;
}

.right-arrow {
  right: 100px;
}

.right-arrow:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/**END image viewer*/
/* ----- Menu Mobile --*/
.menu-mobile {
  height: 200%;
  position: fixed;
  z-index: 999999;
  width: 0%;
  overflow: hidden;
  transition: 0.2s;
  margin-top: 5%;
}
.menu-mobile.abrir-menu {
  height: 100vh;
  width: 80vw;
  transition: 0.2s;
}
.menu-mobile.abrir-menu ~ .over-lay-btmenu {
  display: block;
}

.mbmenu {
  width: 98%;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 35%;
  font-family: "Kanit", sans-serif;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}
.mbshow {
  width: 50%;
  height: 80px;
  margin-left: 23%;
  margin-top: 1%;
  border-radius: 10px;
}

.mbmenu ul {
  list-style-type: none;
  display: inline-block;
  font-weight: 400;
  font-size: xx-large;
  color: #910d0d;
}

.mbmenu ul :hover {
  color: whitesmoke;
  transition: ease-in-out 0.5s;
}
.over-lay-btmenu {
  background-color: rgba(0, 0, 0, 0.616);
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  display: none;
  backdrop-filter: blur(10px);
}
/* Media Screen */

/* Media Screen portateis*/
@media screen and (max-width: 1440px) {
  body {
    overflow-x: hidden !important;
  }
  .redes-sociais-top {
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    margin-left: 2%;
    width: 80px;
    height: 400px;
    z-index: 9999999999999999999999;
    text-decoration: none;
    color: white;
  }
  /* -- slider -- */
  .content {
    font-size: 0.5em;
  }

  /*-- section about--*/
  /* section.about {
    height: auto;
    padding: 2em 1em;
    text-align: center;
  }

  .container-about {
    width: 95%;
    height: auto;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    transform: none;
  }

  .logophorma {
    margin-bottom: 2em;
  }

  video {
    width: 100%;
    height: auto;
    margin: 1em 0;
    float: none;
    object-fit: contain;
  }

  .descmovie {
    padding: 0;
    margin: 1em 0;
    font-size: 0.95em;
    color: rgb(200, 200, 200);
  }

  .scontainerabout {
    transform: none;
  }*/

  /* -- Service -- */
  .container-services,
  .container {
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 15px;
    margin-top: 2rem;
  }

  .section-description {
    margin-bottom: 30px;
    font-size: 1.1em;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .service-icon {
    font-size: 35px;
    padding: 8px;
    margin-bottom: 15px;
  }

  .service-card h3 {
    font-size: 1.3em;
  }

  .service-card p {
    font-size: 0.95em;
  }

  .service-card a {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.95em;
  }

  .carousel-container p {
    font-size: 0.95em;
  }
  .titles2 {
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  .stitles {
    flex-direction: column;
    align-items: center;
  }
  .vertical-line {
    width: 700px; /* Espessura da linha */
    height: 2px; /* 100% da altura da tela */
    background: var(--alternativeback--); /* Cor da linha */
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    position: absolute; /* Fixa a linha na tela */
    left: 26%; /* Centraliza horizontalmente */
    margin-top: 17%;
    z-index: -1;
  }
}
@media screen and (max-width: 1024px) {
  * {
    overflow-x: hidden !important;
  }
  body {
    overflow-x: hidden !important;
  }
  nav {
    display: none;
  }
  .anim-menu-btn {
    position: absolute; /* ou absolute, dependendo do layout */
    top: 43px; /* ou onde você quiser */
    right: 1px;
    z-index: 99999998999;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--anim-menu-btn-size);
    height: var(--anim-menu-btn-size);
  }
  .thumbnail {
    display: none;
  }
  .redes-sociais-top {
    display: none !important;
  }
  /* -- Mobile --*/
  .menu-mobile.abrir-menu {
    width: 60%;
    transition: 0.2s;
    justify-content: center;
    text-align: center;
  }
  .menu-mobile {
    background-color: #4d4d4d10;
  }
  .redes-sociais-top {
    display: none;
  }

  .vertical-line {
    display: none; /* Oculta a linha em telas menores para evitar sobreposição */
  }
  /*- titles*/
  .titles {
    font-size: 0.5em;
  }
  .titles2 {
    font-size: 0.5em;
  }

  /* -- wrapper -- */
  .container-wrapper {
    max-width: 450px;
  }

  .cardrow {
    width: 80px;
    height: auto;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  }

  .cardrow > .rowd {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }

  .cardrow > .rowd > .icond {
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  .container-about {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 40vh;
    margin: auto;
    padding: auto;
  }

  .movie {
    width: 100vw;
  }
  .descmovie {
    flex-direction: column;
    width: 95vw;
    height: auto;
    margin: 0px 10px 10px 10px;
    padding: 45px 15px 10px 10px;
    font-size: 0.8em;
  }
}
